nltk==3.8.1
PrettyTable==3.9.0
typing_extensions==4.8.0
uvicorn == 0.23.2
fastapi == 0.104.1
pyrealsense2 == 2.54.2.5684
numpy == 1.26.1
opencv-python == 4.8.1.78
mysql-connector-python == 8.0.33
pygame == 2.5.2
tensorboard
playsound
pydub
# speechrecognition
# pyaudio
# pyttsx3